body {
  background: url(../img/sfondo_bottom.png) no-repeat right bottom, url(../img/sfondo_top.png) no-repeat left top, url(../img/sfondo.png) no-repeat;
  background-size: auto auto, auto auto, 100% 100%;
  background-attachment: fixed;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333; }

h1 {
  color: #666;
  font-size: 1.8em;
  margin-bottom: 20px;
  font-family: arvobold, Arial, Helvetica, sans-serif; }

h2 {
  font-size: 1.4em;
  color: #0088CC;
  margin-left: 20px; }

h3 {
  font-size: 1.3em;
  color: #153776;
  margin-bottom: 0; }

h4 {
  font-size: 1.2em;
  color: #153776; }

label {
  font-weight: normal;
  margin-bottom: 2px;
  color: #666;
  font-family: Raleway, Arial, Helvetica, sans-serif; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #333;
  text-decoration: underline;
  cursor: pointer; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.btn-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.fa {
  color: #444;
  cursor: pointer; }

.add {
  background: dodgerblue;
  margin: 5px 10px; }

.container.main {
  background: #fff; }

.form-control {
  border-radius: 2px; }

.fos_user_form {
  padding: 20px 40px 40px 40px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px; }
  .fos_user_form .btn-primary {
    margin: 20px 0; }

.wrapper_fos_user {
  margin-top: 120px;
  margin-bottom: 50px; }
  .wrapper_fos_user h1 {
    text-align: center; }

.btn-primary {
  background: #0088CC;
  font-weight: bold; }

table thead th {
  text-align: center; }

.prenotazioni_ora h4 {
  margin: 0; }

.singola_prenotazione {
  margin-left: 2px;
  border-bottom: 1px solid #f4f4f4; }
  .singola_prenotazione > div.calcetto {
    border-left: 5px solid #08761B;
    font-size: 2em;
    color: #08761B;
    font-weight: bold; }
  .singola_prenotazione > div.beach {
    border-left: 5px solid #C5AC3C;
    font-size: 2em;
    color: #C5AC3C;
    font-weight: bold; }

#timePreferences .fa-trash {
  cursor: pointer; }

table#calendario td.disabled {
  background: #eee;
  cursor: not-allowed; }

.ui-dialog {
  padding: 0; }

.ui-widget-header {
  background: #3c8dbc !important; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #cecece; }

#add_sport {
  padding: 5px 20px 5px 10px; }

.hide {
  display: none; }

.content-header {
  height: 25px; }
  .content-header > .breadcrumb {
    top: 0; }

.skin-blue .main-header .navbar {
  background-color: #367fa9; }

#calendarioChiusure #ins {
  opacity: 0.6; }

.savePref {
  display: none; }

#tabella_sport h3 {
  text-align: center; }

#step2 > div {
  margin-top: 10px; }

#step3 > div {
  margin-top: 10px; }

#checkout {
  color: #fff; }

#checkout h1 {
  text-align: center;
  font-size: 4.8em; }

#checkout span.sportName {
  font-size: 3em;
  text-align: center; }

#checkout span.calendario {
  font-size: 3em;
  text-align: center; }

#checkout span.residenti,
#checkout span.totale,
#checkout span.rigaSomma {
  font-size: 2em;
  text-align: left; }

#checkout span.rigaSomma {
  border-bottom: 3px #ffef00 solid; }

body.cli {
  font-family: arvoregular, Arial, Helvetica, sans-serif; }

.box.box-default {
  border-top-color: #d2d6de; }

.box {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  border-top: 3px solid #d2d6de;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  width: 100%; }

.fa.disabled {
  opacity: 0.5;
  cursor: default; }

.tabella_sport_header {
  padding: 10px 5px; }
  .tabella_sport_header h3#tabella_giorno {
    text-align: center;
    margin-top: 0; }
  .tabella_sport_header #next {
    text-align: right;
    cursor: pointer; }
  .tabella_sport_header #prev {
    text-align: left;
    cursor: pointer; }

#next:hover,
#prev:hover {
  text-decoration: underline; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 15px; }

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px; }

table#prenotazione th,
table#prenotazione td {
  text-align: center; }

table#prenotazione th {
  border-bottom: 1px solid #fff; }

table#prenotazione td {
  color: #fff; }

table#prenotazione tbody > tr > td {
  border: none; }

/*# sourceMappingURL=main.css.map */
