$primary-bkground-color: #ededed
$primary-color: #666
$primary-font: Raleway, Arial, Helvetica, sans-serif
$border-radious: 2px
$blue-color: #0088CC

body
  background: $primary-bkground-color
  font-family: $primary-font
  border-top: 5px solid $blue-color

h1
  color: $blue-color
  font-size: 1.8em
  margin-bottom: 20px

label
  font-weight: normal
  margin-bottom: 2px
  color: $primary-color
  font-family: $primary-font

.btn-circle
  border-radius: 50%
  width: 100px
  height: 100px

.add
  background: dodgerblue

.container
  background: #fff

.form-control
  border-radius: $border-radious

.fos_user_form
  padding: 40px
  background: #fff
  border: 1px solid #ddd
  border-radius: $border-radious
  .btn-primary
    margin: 20px 0

.wrapper_fos_user
  margin-top: 120px
  margin-bottom: 50px
  h1
    text-align: center

.btn-primary
  background: $blue-color
  font-weight: bold

table thead th
  text-align: center

