{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper" style="min-height: 916px;">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Prenotazioni</li>
        </ol>
        <div class="col-xs-8 ">
            <div class="prenotazioni box clearfix" style="min-height: 400px">
                <section class="content-header">
                <h1>
                    Prenotazioni

                </h1>

                </section>

                <div class="form-group clarfix row">

                    <label class="col-xs-2">Sport:</label>
                    <div class="col-xs-8">
                        <select id="sport_combo" class=" form-control" onchange="javascript:loadReservations(this)">
                            <option>Scegli uno sport</option>
                            {% for item in sports %}
                                <option data-sport-id="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="form-group clarfix col-xs-12">
                    <table id="calendario" class="table table-stripped table-bordered">
                        <thead>
                            <tr>
                                {%  for i in 0..5 %}
                                    <th></th>
                                {%  endfor %}
                            </tr>
                        </thead>
                        {%  for i in 0..16 %}
                            <tr>
                                {%  for n in 0..5 %}
                                    {% if loop.index0 == 0 %}
                                        <th data-hour-number="{{loop.index0 }}"></th>
                                    {%  else %}
                                     <td></td>
                                    {%  endif %}
                                {%  endfor %}
                            </tr>
                        {%  endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadReservations(select){
            console.log(select);
            var url = "{{ path('load_reservation') }}";
            var sport_id =  $(select).find("option:selected").attr("data-sport-id");

            var obj = {'id_sport': sport_id};
            var jsonArray = JSON.stringify(obj);
            $.ajax({
                type: "POST",
                url: url,
                data: jsonArray,
                success: function(data){
                    console.log(data.giorni[0].day);
                    console.log(data.book[0].giorno);
                    console.log(data.book[0].h);
                    console.log(data.book[0].nome);
                    console.log(data.book[1].giorno);
                    console.log(data.book[1].h);
                    console.log(data.book[1].nome);


                },
                dataType: 'json'
            });
        }

        function createCalendarioPrenotazioni(){
            $date = new Date();

        }
        var giorniSettimana = ['lunedì', 'martedì', 'mercoledì', 'giovedì', 'venerdì', 'sabato', 'domenica']
    </script>
{% endblock %}