<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li class="active">
                <a href="{{ path('dash_index') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>

            </li>
            <li >
                <a href="{{ path('sport_index') }}">

                    <i class="fa fa-futbol-o"></i>
                    <span>Sport</span>
                </a>
            </li>
            <li>
                <a href="{{ path('tab_index') }}">
                    <i class="fa fa-th"></i> <span>Tabellone</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>