
<div class="col-sm-4" data-id-giorno="1">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3>{{ day.name|upper }}</h3>
            <div class="box-tools pull-right">
                <button type="button"  class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus" onclick="openHide(this)"></i>
                </button>
            </div>
            <table class="table">

                <thead>
                <tr>
                    <th>Dal</th>
                    <th>Sport</th>
                    <th>Nr. campi</th>
                </tr>
                </thead>
                <tbody>
                {#% for sport in day %}
                    <tr>
                        <td>{day.giorno}</td>
                        <td>{day.name}</td>
                        <td>{name.fields}</td>
                    </tr>
                {% endfor %#}
                <tr>
                    <td><input type="text" name="data_sport" id="sport_lun" size="15"/></td>
                    <td>
                        <select id="sport_combo" class=" form-control" >
                            <option>Sport</option>
                            {% for item in sports %}
                                <option data-sport-id="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="fields" id="fields_lun" maxlength="2" size="5" /></td>
                </tr>
                <tr ><td colspan="3"><button class="btn btn-primary pull-right" id="salva_lun">Salva</button> </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>